<a href="https://colab.research.google.com/github/fardanhafidz/daspro-asik/blob/main/daspro_week01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("HUJANDERAS" if int(input("masukkan angka: ")) > 4 else "PANAS")

masukkan angka: 10
HUJANDERAS

In [ ]:
a, b = map(int, input("masukkan dua angka: ").split())
print("BISA" if a % b == 0 else "MAAF")

masukkan dua angka: 2000 300
MAAF

In [ ]:
a, b, c = map(len, input("masukkan tiga kata: ").split())

print(
    "Yeehaaw" if a < b > c or a > b < c
    else "Woohoohoo" if a < b < c or a > b > c
    else "Hebwueh"
)

masukkan tiga kata: aku suka rka25
Woohoohoo

In [ ]:
score = int(input("masukkan total skor: "))

if score < 899:
    rank = "Bronze"
elif score <= 1097:
    rank = "Warior"
elif score <= 3500:
    rank = "Mythic"
elif score <= 4737:
    rank = "Legend"
else:
    rank = "Epic"

print("rank kamu adalah:", rank)

In [ ]:
s = input("masukkan string: ").lower()

result = 1
for ch in s:
    if ch.isalpha():
        result *= ord(ch) - ord('a') + 1
    elif ch.isdigit():
        result *= int(ch)

print(result)

masukkan string: ab
2

In [ ]:
price = int(input("masukkan harga: "))
print(price *1/2 if price % 2 == 0 else price *3/4)

masukkan harga: 1001
750.75

In [ ]:
N = int(input("masukkan N: "))

result = ""
for i in range(N):
    if i % 4 in (2, 3):
        result += "*"
    else:
        result += "#"

print(result)

masukkan N: 6
##**##

In [ ]:
N, M = map(int, input().split())

for i in range(N):
    row = ""
    for j in range(M):
        if i % 2 == 0:
            if j % 4 < 2:
                row += "*"
            else:
                row += "#"
        else:
            if j % 4 < 2:
                row += "#"
            else:
                row += "*"
    print(row)

3 6
**##**
##**##
**##**

In [ ]:
N, M = map(int, input().split())

for i in range(N):
    row = ""
    for j in range(M):
        if i % 2 == 0:
            if j % 2 == 1:
                row += "*"
            else:
                row += "#"
        else:
            if j % 2 == 1:
                row += "#"
            else:
                row += "*"
    print(row)

3 6
#*#*#*
*#*#*#
#*#*#*

In [ ]:
N = int(input())
if N % 2 == 1:
    pattern = "#*"
else:
    pattern = "*#"
print((pattern * ((N // 2) + 1))[:N])

9
#*#*#*#*#

In [ ]:
N = int(input())
for i in range(1, N + 1):
    for j in range(1, i + 1):
        print(j)

5
1
1
2
1
2
3
1
2
3
4
1
2
3
4
5

In [ ]:
x = input().rstrip()
y = input().rstrip()
for n in range(1, 26):
    hasil = ""
    for ch in x:
        if ch.isalpha():
            base = ord('a') if ch.islower() else ord('A')
            hasil += chr((ord(ch) - base + n) % 26 + base)
        else:
            hasil += ch
    sandi = hasil[::-1]
    if sandi == y:
        print(f"Silahkan berjalan sejauh {n} Meter")
        break
else:
    print("Mending pulang aja")

kantin tc
kc yabcis
Mending pulang aja